.react-score-root {
  display: inline-flex;
}

.react-score-root-good {
  position: relative
}

/* .react-score-root-good:before {
  position: absolute;
  content: '';
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  transition: ease-in-out 0.5s;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, transparent 20%, rgb(253, 84, 9) 20%, transparent 30%), radial-gradient(circle, transparent 20%, rgb(253, 84, 9) 20%, transparent 30%), radial-gradient(circle, transparent 20%, rgb(253, 84, 9) 20%, transparent 30%), radial-gradient(circle, transparent 20%, rgb(253, 84, 9) 20%, transparent 30%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, transparent 20%, rgb(253, 84, 9) 20%, transparent 30%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, transparent 20%, rgb(253, 84, 9) 20%, transparent 30%), radial-gradient(circle, transparent 20%, rgb(253, 84, 9) 20%, transparent 30%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%), radial-gradient(circle, rgb(253, 84, 9) 20%, transparent 20%);
  background-size: 8% 9%, 6% 7%, 6% 7%, 2% 7%, 4% 5%, 5% 10%, 6% 18%, 9% 20%, 8% 9%, 12% 12%, 8% 12%, 10% 11%, 13% 10%, 18% 10%, 6% 2%, 4% 7%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%, 65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%, 64% 70%, 80% 71%;
  animation: bubbles ease-in-out 0.75s forwards;
}

@keyframes bubbles {

} */
